body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  height: 100vh;
}

.question {
    font-size: 3em;
}

.question p {
    display: inline;
}

.question .seperator {
    margin: 0 2em;
}

.question .option {
    font-weight: 700;
}
