body {
	font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	text-align: center;
	color: #293c4b;
	display: flex;
	flex-direction: column; 
	justify-content: flex-start;
	font-size: 16px;
	background-color: #000;
	font-color: #fff;
	color: #fff;
}

.app {
}

.message {
    margin-top: 30px;
    background-color: tomato;
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}

.message:after {
    content: ' (click to close)';
}

.addQuestion {
	display: flex; 
    flex-direction: column;
	justify-content: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.addQuestion > p {
    color: yellow;
    display: inline;
}

.addQuestion .seperator {
    margin: 0;
}

.addQuestion:hover > form {
    display: flex;
    z-index: 3;
    position: absolute;
    top: 5vh;
}

.addQuestion form {
    display: none;
	flex-direction: column;
    justify-content: row;
    margin: 0 auto;
	width: 200px;
    background-color: grey;
    padding: 1em;
    box-sizing: border-box;
}

.addQuestion form button {
    margin-top: 1em;
    padding: 5px 0;
    background-color: orange;
    border: none;
    cursor: pointer;
}

.question {
	margin-top: 25vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question p {
    display: inline;
}


.seperator {
    padding: 0 1rem;
}

.question .option {
    font-weight: 700;
}

.question .statistics {
    font-size: 1rem;
    font-weight: normal;
    color: orange;
}

.question .statistics:before {
    content: ' - ';
}

.clickNote {
    font-size: 12px;
    display: block;
}

@media (min-width: 500px) {
    .question {
        flex-direction: row;
        font-size: 3rem;
        margin-top: 35vh;
    }

    .question p {
        display: block;
    }

    .question .statistics:before {
        content: '';
    }
}
