body {
	font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	text-align: center;
	color: #293c4b;
	display: flex;
	flex-direction: column; 
	justify-content: flex-start;
	font-size: 16px;
	background-color: #000;
	font-color: #fff;
	color: #fff;
}

.app {
}

.addQuestion {
	display: flex; 
	justify-content: center;
}

.addQuestion form {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.question {
	margin-top: 35vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question p {
    display: inline;
}


.seperator {
    padding: 0 1rem;
}

.question .option {
    font-weight: 700;
}

.question .statistics {
    font-size: 1rem;
    font-weight: normal;
    color: orange;
}

.question .statistics:before {
    content: ' - ';
}

@media (min-width: 500px) {
    .question {
        flex-direction: row;
        font-size: 3rem;
    }

    .question p {
        display: block;
    }

    .question .statistics:before {
        content: '';
    }
}
